.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
*~
/logs
/data
.~*
common/CACHE
app/media/
app/data/
app/static/
armenowag/settings/local.py
db.sqlite3
__pycache__

!.gitignore

### JetBrains
.idea/
*.iml
*.ipr
*.iws
coverage/
client/node_modules
